/* common */
*{margin: 0; padding: 0; list-style: none; text-decoration: none;}

hr {
   margin: 30px 0;
}

/* step01 / NumberCounter.jsx */
.btn_layout {
   text-align: center;
}

.btn_layout Button {
   margin: 0 5px;
}

/* step01 / NumberCounter2.jsx */
.btn_layout2 {
   text-align: center;
}

.btn_layout2 Button {
   margin: 10px 5px;
}

/* step02 / InputExam.jsx */
.InputExam {
   text-align: center;
   margin: 20px auto;
}

.input__Text {
   width: 300px;
   height: 36px;
   padding: 0 10px;
   font-size: 16px;
   border: 1px solid #ddd;
   box-sizing: border-box;
   margin: 10px 0;
}

#outlined-basic {
   width: 300px;
   height: 36px;
   box-sizing: border-box;
   margin: 10px 0;
}

#standard-basic {
   width: 300px;
   height: 36px;
   box-sizing: border-box;
   margin: 10px 0;
}


.count__layout {
   display: flex;
   justify-content: center;
   align-items: center;
}

.count__layout h2 {
   margin: 0 20px;
}

.count__layout button {
   min-width: 40px;
   width: 40px;
   height: 40px;
   line-height: 40px;
   font-size: 24px;
   font-weight: 100;
}

.Check__layout {
   text-align: center;
   margin: 30px auto;
}

/* TodoList */
.TodoList__layout {
   width: 600px;
   margin: 50px auto;
   border: 1px solid #ddd;
   border-radius: 10px;
   box-shadow: 5px 5px 10px #ddd;
   padding: 30px;
   box-sizing: border-box;
}

.TodoList__layout h1 {
   margin: 0;
}

.TodoList__layout ul li {
   margin-bottom: 15px;
   font-size: 20px;
}

.TodoList__layout input {
   border: 1px solid #aaa;
   font-size: 16px;
   height: 36px;
   box-sizing: border-box;
   padding: 0 10px;
   border-radius: 5px;
}

.TodoList__layout p {
   font-size: 20px;
   font-weight: 500;
}

.TodoList__layout p span {
   font-size: 20px;
   font-weight: 400;
   color: #555;
}

.TodoList__layout button {
   border: 0;
   font-size: 16px;
   padding: 10px 15px;
   height: 36px;
   font-weight: 500;
   cursor: pointer;
   margin-left: 10px;
   border-radius: 5px;
   border: 1px solid #aaa;
}

.TodoList__layout button:hover {
   background-color: #ddd;
   transition: all 0.3s;
}

.TodoList__flex {
   display: flex;
}

/* Profile */
.Profile__layout {
   text-align: center;
   padding: 30px;
   border-top: 1px solid #ddd;
   box-sizing: border-box;
}

.Profile__layout h2 {
   margin: 0;
}

.Profile__layout h3 {
   margin: 0;
}

.Profile__layout h3 span {
   margin: 0;
   font-weight: 500;
}

.Profile__layout button {
   margin: 0 5px;
   padding: 10px 15px;
   font-size: 16px;
   background-color: transparent;
   border: 1px solid #aaa;
   color: #555;
   border-radius: 5px;
   cursor: pointer;
}

.Profile__layout button:hover {
   border: 1px solid green;
   color: green;
   transition: all 0.3s;
}

.User__Profile__layout {
   text-align: center;
   width: 500px;
   padding: 0px;
   border: 1px solid #ddd;
   margin: 50px auto;
   box-sizing: border-box;
   box-shadow: 5px 5px 10px #ddd;
   border-radius: 10px;
}

.User__Profile__layout button {
   margin: 0 5px;
   padding: 10px 15px;
   font-size: 16px;
   background-color: transparent;
   border: 1px solid #aaa;
   color: #555;
   border-radius: 5px;
   cursor: pointer;
}

.User__Profile__layout button:hover {
   border: 1px solid forestgreen;
   color: forestgreen;
   transition: all 0.3s;
}

/* TempEx */
.Temp__layout {
   text-align: left;
   width: 500px;
   margin: 50px auto;
   box-sizing: border-box;
}

.Temp__layout h1 {
   margin: 0;
}

.Temp__layout h2 {
   margin: 0;
}

.Temp__layout p {
   font-size: 20px;
}

.TempInput__layout {
   text-align: left;
   width: 100%;
   padding: 30px;
   border: 1px solid #ddd;
   margin: 15px auto;
   box-sizing: border-box;
   box-shadow: 5px 5px 10px #ddd;
   border-radius: 10px;
}

.TempInput__layout input[type="number"] {
   height: 36px;
   font-size: 16px;
   color: #555;
   padding: 0 10px;
   border: 1px solid #aaa;
   border-radius: 5px;
}

.TempInput__layout span {
   display: inline-block;
   margin-left: 8px;
}

.TempRadio__layout {
   text-align: left;
   width: 100%;
   padding: 30px;
   border: 1px solid #ddd;
   margin: 15px auto;
   box-sizing: border-box;
   box-shadow: 5px 5px 10px #ddd;
   border-radius: 10px;
}

.TempRadio__layout label {
   margin: 0 10px;
   cursor: pointer;
   font-size: 18px;
}

/* FormEx */
.FormEx__layout {
   width: 500px;
   margin: 50px auto;
   border: 1px solid #ddd;
   box-sizing: border-box;
   padding: 30px;
}
.FormEx__layout p {
   font-size: 18px;
   font-weight: 400;
}

.FormEx__layout input[type="text"] {
   width: 160px;
   height: 36px;
   box-sizing: border-box;
   padding: 0 10px;
   border: 1px solid #aaa;
   color: #555;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 400;
}

.FormEx__layout select {
   width: 160px;
   height: 36px;
   box-sizing: border-box;
   padding: 0 10px;
   border: 1px solid #aaa;
   color: #555;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 400;
}

/* EffectTest01__layout */
.EffectTest01__layout {
   text-align: left;
   width: 500px;
   margin: 50px auto;
   box-sizing: border-box;
   padding: 30px;
   border: 1px solid #ddd;
}

/* EffectTest03__layout */
.EffectTest03__layout {
   text-align: left;
   width: 600px;
   margin: 50px auto;
   box-sizing: border-box;
   padding: 30px;
   border: 1px solid #ddd;
}

.EffectTest03__layout hr {
   margin: 50px auto;
}

/* EffectTest04__layout */
.EffectTest04__layout {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   box-sizing: border-box;
}

.EffectTest04__layout ul {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.EffectTest04__layout ul li {
   width: calc(25% - 20px);
   list-style: none;
   box-sizing: border-box;
   padding: 20px;
   margin: 15px 10px 15px 10px;
   border: 1px solid #ddd;
   cursor: pointer;
}

.EffectTest04__layout ul li:hover {
   box-shadow: 5px 5px 10px #ddd;
   transition: all 0.3s;
}

.EffectTest04__layout ul li h3 {
   max-height: 74.4px;
   /* overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical; */
}

.EffectTest04__layout ul li img {
   width: 100%;
}

/* MemoTest01__layout */
.MemoTest01__layout {
   text-align: left;
   width: 600px;
   margin: 50px auto;
   box-sizing: border-box;
   padding: 30px;
   border: 1px solid #ddd;
}

/* MemoTest02__layout */
.MemoTest02__layout {
   text-align: left;
   width: 600px;
   margin: 50px auto;
   box-sizing: border-box;
   padding: 30px;
   border: 1px solid #ddd;
}

.MemoTest02_1__layout ul {
   padding: 10px 0;
}

.MemoTest02_1__layout ul li {
   list-style-position: inside;
   list-style-type: circle;
   margin: 5px 0px 5px 0px;
}

.MemoTest02_2__layout ul {
   padding: 10px 0;
}

.MemoTest02_2__layout ul li {
   list-style-position: inside;
   list-style-type: circle;
   margin: 5px 0px 5px 0px;
}

.MemoTest03__layout {
   text-align: left;
   width: 600px;
   margin: 50px auto;
   box-sizing: border-box;
   padding: 30px;
   border: 1px solid #ddd;
}

.MemoTest03__layout h3 {
   margin-bottom: 6px;
}

.MemoTest03__layout input[type="number"] {
   height: 36px;
   box-sizing: border-box;
   padding: 0px 10px;
   border: 1px solid #aaa;
}

.MemoTest03__layout span {
   font-size: 16px;
}

.MemoTest04__layout {
   text-align: left;
   width: 600px;
   margin: 50px auto;
   box-sizing: border-box;
   padding: 30px;
   border: 1px solid #ddd;
}

.MemoTest04__layout p {
   font-size: 20px;
   margin-top: 10px;
}

.MemoTest04__layout input {
   padding: 5px 10px;
   font-size: 16px;
   margin-top: 10px;
   border: 1px solid #aaa;
}

.MemoTest04__layout button {
   padding: 5px 10px;
   font-size: 16px;
   margin-top: 10px;
   cursor: pointer;
}

/* CallBackTest01__layout */
.CallBackTest01__layout {
   text-align: left;
   width: 600px;
   margin: 50px auto;
   box-sizing: border-box;
   padding: 30px;
   border: 1px solid #ddd;
}

.CallBackTest01__layout div {
   display: inline-block;
   margin-right: 10px;
}

.CallBackTest01__layout div button {
   padding: 5px 4px 5px 10px;
   font-size: 16px;
   cursor: pointer;
   background-color: #000;
   color: #fff;
}


.CallBackTest02__layout {
   text-align: left;
   width: 500px;
   margin: 50px auto;
   box-sizing: border-box;
   padding: 30px;
   border: 1px solid #ddd;
   display: flex;
   justify-content: space-between;
}

.CallBackTest02__layout input {
   width: calc(100% - 215px);
   height: 36px;
   box-sizing: border-box;
   font-size: 16px;
   padding: 0 10px;
}

.CallBackTest02__layout button {
   width: 200px;
   height: 36px;
   box-sizing: border-box;
   cursor: pointer;
   font-size: 16px;
}